@model IEnumerable<EugeneCommunity.Models.MessageMemberViewModel>

<table class="table table-striped">

    <tr>
        <td>@Html.DisplayNameFor(model => model.Date)</td>
        <td>@Html.DisplayNameFor(model => model.UserName)</td>
        <td>@Html.DisplayNameFor(model => model.Body)</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DateYear)<br />@Html.DisplayFor(modelItem => item.Time)</td>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Body)</td>
        </tr>
    }

</table>